* @gamerevar @azagaya

#default_env.tres @azagaya
#project.godot @azagaya
#Main.tscn @azagaya
#Main.gd @azagaya

#assets/* @azagaya
#globals/* @azagaya
#resources/* @azagaya
#scenes/* @azagaya

#assets/audio/* @AlcidezSounds
#assets/graphics/* @Ecoabismo

*.mp3 @AlcidezSounds
*.wav @AlcidezSounds
*.ogg @AlcidezSounds

*.png @Ecoabismo
*.jpeg @Ecoabismo
*.jpg @Ecoabismo
*.bmp @Ecoabismo
