* @gamerevar

default_env.tres @azagaya
project.godot @azagaya
Main.tscn @azagaya
Main.gd @azagaya

assets/* @azagaya
globals/* @azagaya
resources/* @azagaya
scenes/* @azagaya

assets/audio/* @AlcidezSounds
assets/graphics/* @azagaya
